body {
	font-family: 'Roboto', sans-serif;
	margin: 0;

}

a {
	text-decoration: none;
}

.wrapper {
	max-width: 1636px;
	width: 100%;

	margin: 0 auto;
}

/** Шапка **/


header .wrapper{
	width: 100%;
	height: 53px;

	display: flex;
	justify-content: space-between;
}

.logo {
	display: inline;
}

.nav {
	max-width: 448px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav a {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #999999;
}

.nav a:hover {
	color: #9ACD2F;
}

#main_page {
	color: #9ACD2F;
}

.login {
	float: 	right;

	max-width: 426px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.val {
	text-transform: uppercase;
	color: #999999;
	font-size: 18px;
	line-height: 21px;
}

.language {
	width: 16px;
	height: 16px;
}

.reg {
	font-size: 18px;
	line-height: 21px;
	color: #9ACD2F;
}

.in {
	font-size: 18px;
	line-height: 21px;
	color: #9ACD2F;
	font-weight: 500;
}


/* Поиск */


.search {
	margin-bottom: 100px;

	width: 100%;
	height: 1027px;

	background-image: url(img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.search h1 {
	font-weight: 700;
	font-size: 122px;
	line-height: 143px;

	color: #fff;

	padding-top: 270px;
	margin-bottom: 61px;
	margin-top: 0;
}

	label {
		font-size: 25px;
		line-height: 29px;
		color: #fff;
	}

	.plase_checkbox {
	  position: absolute;
	  z-index: -1;
	  opacity: 0;
	}

	.plase_checkbox+label {
	  display: inline-flex;
	  align-items: center;
	  user-select: none;
	}
	.plase_checkbox+label::before {
	  content: '';
	  display: inline-block;
	  width: 20px;
	  height: 20px;
	  flex-shrink: 0;
	  flex-grow: 0;
	  background-color: #fff;
	  margin-right: 0.5em;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: 50% 50%;
	}

	.plase_checkbox:checked+label::before {
	  background-color: #9ACD2F;
	}

	.plase_checkbox+label {
		margin-right: 50px;
	}

form {
	display: flex;
	margin-top: 44px;
}

.data_btn_block {
	display: flex;
	flex-direction: row;
}

.data_block {
	display: flex;
}

.city, .take, .back {
	border: none;
	height: 70px;
	background-color: #fff;

	font-size: 20px;
	line-height: 23px;
	color: #999999;

	padding: 0;
	padding-left: 33px;
	margin-right: 20px;
}

.city {
	width: 795px;
}

.take {
	width: 187px;
}

.back {
	width: 192px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 303px;
	height: 70px;
	background-color: #9acd2f;
}
	
.btn a {
	font-weight: 700;
	font-size: 25px;
	line-height: 29px;
	color: #fff;
}


/* Популярные направления */


.popular {
	margin-bottom: 100px;
}

.popular h3 {
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	color: #9acd2f;

	margin-bottom: 28px;
	margin-top: 0;
}

.popular_gallary {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.popular_block {
	max-width: 484px;
	width: 100%;
}

.popular_block:nth-child(4) {
	margin-top: 50px;
}

.popular_block:nth-child(5) {
	margin-top: 50px;
}

.popular_block:nth-child(6) {
	margin-top: 50px;
}

.popular_block img {
	margin-bottom: 16px;
}

.popular_block h5 {
	display: inline;

	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	color: #000;
}

.popular_block p {
	margin: 0;
	margin-top: 4px;

	display: inline;
	float: right;

	font-size: 18px;
	line-height: 21px;
	color: #000;
}

.popular_block span {
	font-weight: 700;
}


/* Приложение */ 


.app {
	width: 100%;
	height: 1080px;

	background-image: url(img/banner_app.png);
	background-repeat: no-repeat;
	background-size: cover;

	margin-bottom: 100px;
}

.app h2 {
	padding-top: 240px;
	margin: 0;
	margin-bottom: 34px;

	font-weight: 700;
	font-size: 90px;
	line-height: 105px;

	color: #9acd2f;

	max-width: 530px;
	width: 100%;
}

.app p {
	font-weight: 500;
	font-size: 26px;
	line-height: 140.7%;

	color: #000;

	max-width: 444px;
	width: 100%;

	margin-bottom: 50px;
}

.app img:nth-child(1) {
	margin-right: 36px;
}


/* Футер */

footer {
	width: 100%;
	height: 200px;
}

footer .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block {

}

.block a {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;

	color: #9acd2f;

	display: block;
	margin-bottom: 22px;
}

.block a:nth-child(3) {
	margin-bottom: 0;
}

.contacts img:nth-child(1) {
	margin-right: 77px;
}


/* Адаптив */


@media (min-width: 1024px) and (max-width: 1919px) {

	.wrapper {
		width: 80%;
	}

	.logo {
		margin-left: 30px;
	}

	.nav {
		width: 45%;
	}

	.nav a {
		font-size: 16px;
	}

	.login {
		width: 20%;
		margin-right: 30px;
	}

	.val {
		font-size: 16px;
	}

	.language {
		width: 14px;
		height: 14px;
	}

	.reg {
		display: none;
	}

	.in {
		font-size: 16px;
	}

	form {
		flex-direction: column;
		align-items: center;

		margin-top: 80px;
	}

	.city {
		width: 800px;
		margin-right: 0;
	}

	.back {
		margin-right: 0;
	}

	.search h1 {
		font-size: 100px;
		padding-top: 200px;
		line-height: 105px;

		margin-bottom: 40px;
	}

	.data_block {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.btn {
		width: 348px;

		margin-top: 25px;
		margin-left: 20px;
	}

	label {
		font-size: 20px;
	}

	.popular_block {
		margin-top: 50px;

		width: 46%;
	}

	.popular_block img {
		width: 100%;
	}

	.popular_block h5 {
		font-size: 18px;
	}

	.popular_block p {
		margin-top: 2px;
		font-size: 16px;
	}

	.app {
		height: 500px;

		background-image: none;
	}

	.app h2 {
		padding-top: 50px;
	}

	.contacts img:nth-child(1) {
		margin-right: 15px;
	}

	.block a {
		font-size: 16px;
		margin-bottom: 16px;
	}

	footer {
    	height: 140px;
	}
}


@media (min-width: 786px) and (max-width: 1023px) {

	.wrapper {
		width: 80%;
	}

	.logo {
		margin-left: 30px;
	}

	.nav {
		width: 45%;
	}

	.nav a {
		font-size: 16px;
	}

	.login {
		width: 20%;
		margin-right: 30px;
	}

	.val {
		font-size: 16px;
	}

	.language {
		width: 14px;
		height: 14px;
	}

	.reg {
		display: none;
	}

	.in {
		font-size: 16px;
	}

	form {
		flex-direction: column;
		align-items: center;

		margin-top: 80px;
	}

	.data_btn_block {
		display: flex;
		flex-direction: column;
	}

	.city {
		width: 432px;
		margin-right: 0;
	}

	.back {
		margin-right: 0;
	}

	.search h1 {
		font-size: 100px;
		padding-top: 200px;
		line-height: 105px;

		margin-bottom: 40px;
	}

	.data_block {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.btn {
		width: 465px;
	}

	label {
		font-size: 20px;
	}

	.popular_block {
		margin-top: 50px;

		width: 46%;
	}

	.popular_block img {
		width: 100%;
	}

	.popular_block:nth-child(1) {
		margin-top: 0;
	}

	.popular_block:nth-child(2) {
		margin-top: 0;
	}

	.popular_block h5 {
		font-size: 18px;
	}

	.popular_block p {
		margin-top: 2px;
		font-size: 16px;
	}

	.app {
		height: 500px;

		background-image: none;
	}

	.app h2 {
		padding-top: 50px;
	}

	.contacts img:nth-child(1) {
		margin-right: 15px;
	}

	.block a {
		font-size: 16px;
		margin-bottom: 16px;
	}

	footer {
    	height: 140px;
	}
}


@media (min-width: 480px) and (max-width: 785px) {

	.wrapper {
		width: 90%;
	}

	.logo {
		margin-left: 30px;
	}

	.nav {
		width: 10%;
	}

	.nav a {
		font-size: 16px;
	}

	.nav a:nth-child(1) {
		display: none;
	}

	.nav a:nth-child(2) {
		display: none;
	}

	.login {
		width: 25%;
		margin-right: 30px;
	}

	.val {
		font-size: 16px;
	}

	.language {
		width: 14px;
		height: 14px;
	}

	.reg {
		display: none;
	}

	.in {
		font-size: 16px;
	}

	form {
		flex-direction: column;
		align-items: center;

		margin-top: 80px;
	}

	.data_btn_block {
		display: flex;
		flex-direction: column;
	}

	.city {
		width: 400px;
		margin-right: 0;
	}

	.take {
		width: 171px;
	}

	.back {
		width: 176px;
		margin-right: 0;
	}

	.search h1 {
		font-size: 70px;
		padding-top: 200px;
		line-height: 80px;

		margin-bottom: 40px;
	}

	.data_block {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.btn {
		width: 433px;
	}

	label {
		font-size: 20px;
	}

	.popular_block {
		margin-top: 50px;

		width: 46%;
	}

	.popular_block img {
		width: 100%;
	}

	.popular_block:nth-child(1) {
		margin-top: 0;
	}

	.popular_block:nth-child(2) {
		margin-top: 0;
	}

	.popular_block h5 {
		font-size: 18px;
	}

	.popular_block p {
		display: none;
	}

	.contacts img {
		width: 20px;
	}

	.contacts img:nth-child(1) {
		margin-right: 15px;
	}

	.block a {
		font-size: 12px;
		margin-bottom: 5px;
	}

	footer {
    	height: 100px;
	}

	.app {
		height: 450px;

		background-image: none;
	}

	.app h2 {
		font-size: 70px;
		line-height: 80px;

		padding-top: 50px;
	}

	.app p {
		width: 250px;
		font-size: 18px;

		margin-bottom: 50px;
	}

	.app img {
		width: 30px;
	}
}

@media (min-width: 320px) and (max-width: 479px) {

	.wrapper {
		width: 90%;
	}

	.logo {
		margin-left: 30px;
	}

	.nav {
		width: 10%;
	}

	.nav a {
		font-size: 16px;
	}

	.nav a:nth-child(1) {
		display: none;
	}

	.nav a:nth-child(2) {
		display: none;
	}

	.login {
		width: 10%;
		margin-right: 30px;
	}

	.val {
		display: none;
	}

	.language {
		display: none;

	}

	.reg {
		display: none;
	}

	.in {
		font-size: 16px;
	}

	form {
		flex-direction: column;
		align-items: center;

		margin-top: 80px;
	}

	.data_btn_block {
		display: flex;
		flex-direction: column;
	}

	.city {
		width: 260px;
		margin-right: 0;
	}

	.take {
	    width: 260px;
	    margin-right: 0;
	    margin-bottom: 21px;
	}

	.back {
    	width: 260px;
		margin-right: 0;
	}

	.search h1 {
	    font-size: 50px;
	    line-height: 60px;

	    padding-top: 200px;
		margin-bottom: 40px;
	}

	.data_block {
		margin-top: 25px;
		margin-bottom: 25px;


   		 display: flex;
    	flex-direction: column;
	}

	.btn {
		width: 293px;
	}

	label {
		font-size: 16px;
	}

	.popular{
		margin-bottom: 60px;
	}

	.popular_block {
		margin-top: 50px;

		width: 100%;
	}

	.popular_block img {
		width: 100%;
	}

	.popular_block:nth-child(1) {
		margin-top: 0;
	}

	.popular_block h5 {
		font-size: 18px;
	}

	.popular_block p {
		display: none;
	}

	footer {
    	display: none;
	}

	.app {
		height: 340px;
		background-image: none;
	}

	.app h2 {
		font-size: 47px;
    	line-height: 54px;

		padding-top: 50px;
	}

	.app p {
		width: 224px;
	    font-size: 16px;

	    margin-bottom: 40px;
	}

	.app img {
		width: 30px;
	}
}













