body {
	font-family: 'Roboto', sans-serif;
	margin: 0;

}

a {
	text-decoration: none;
}

.wrapper {
	max-width: 1636px;
	width: 100%;

	margin: 0 auto;
}


/** Шапка **/


header .wrapper{
	width: 100%;
	height: 53px;

	display: flex;
	justify-content: space-between;
}

.logo {
	display: inline;
}

.nav {
	max-width: 448px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav a {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #999999;
}

.nav a:hover {
	color: #9ACD2F;
}

#main_page {
	color: #9ACD2F;
}

.login {
	float: 	right;

	max-width: 426px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.val {
	text-transform: uppercase;
	color: #999999;
	font-size: 18px;
	line-height: 21px;
}

.language {
	width: 16px;
	height: 16px;
}

.reg {
	font-size: 18px;
	line-height: 21px;
	color: #9ACD2F;
}

.in {
	font-size: 18px;
	line-height: 21px;
	color: #9ACD2F;
	font-weight: 500;
}


/* Поиск */


form {
	display: flex;
	margin-top: 50px;
	margin-bottom: 60px;
}

.data_btn_block {
	display: flex;
	flex-direction: row;
}

.data_block {
	display: flex;
}

.city, .take, .back {
	border: none;
	height: 70px;
	background-color: #FCFCFC;

	font-size: 20px;
	line-height: 23px;
	color: #999999;

	padding: 0;
	padding-left: 33px;
	margin-right: 20px;
}

.city {
	width: 795px;
}

.take {
	width: 187px;
}

.back {
	width: 192px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 303px;
	height: 70px;
	background-color: #9acd2f;
}
	
.btn a {
	font-weight: 700;
	font-size: 25px;
	line-height: 29px;
	color: #fff;
}


/* Автомобили */


.auto {

}

.auto .wrapper {
	display: flex;
	justify-content: space-between;
}

.filters {

}

.filters h2 {
	font-size: 30px;
	line-height: 35px;
	font-weight: 700;

	color: #9ACD2F;
}

.filter_block {
	display: flex;
	flex-direction: column;
}

.filter_block h3 {
	margin-bottom: 40px;

	font-weight: 500;
	font-size: 25px;
	line-height: 29px;

	color: #999999;
}

.filter_block span {
	font-weight: 500;
	font-size: 25px;
	line-height: 29px;

	color: #999999;
}

.prise_text {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;

	color: #000000;
}

	label {
		font-size: 18px;
		line-height: 21px;
		color: #000;
	}

	.plase_checkbox {
	  position: absolute;
	  z-index: -1;
	  opacity: 0;
	}

	.plase_checkbox+label {
	  display: inline-flex;
	  align-items: center;
	  user-select: none;

	  margin-bottom: 32px;
	}
	.plase_checkbox+label::before {
	  content: '';
	  display: inline-block;
	  width: 20px;
	  height: 20px;
	  flex-shrink: 0;
	  flex-grow: 0;
	  background-color: #F4F4F4;
	  margin-right: 0.5em;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: 50% 50%;

	  margin-bottom: 2px;
	}

	.plase_checkbox:checked+label::before {
	  background-color: #9ACD2F;
	}

	.plase_checkbox+label {
		margin-right: 50px;
	}

.bottom_line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bread {
	margin-top: 39px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.bread a {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;

	color: #999999;

	margin-right: 12px;
}

.bread p {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;

	color: #999999;

	margin-right: 12px;
}

.filters_hiden {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;

	float: right;

	color: #9ACD2F;

	margin-top: 39px;
	margin-bottom: 0;
	padding-right: 500px;

	display: none;
}

.finded {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;

	float: right;

	color: #9ACD2F;

	margin-top: 39px;
	margin-bottom: 0;
}

.auto_blocks {

}

.auto_block {
	margin-top: 50px;
	margin-right: 149px;

	max-width: 1074px;
	width: 100%;
	height: 325px;

	display: flex;
	justify-content: space-between;
}

.first_line {
	max-width: 576px;
	width: 100%;
	float: right;

	display: flex;
	justify-content: space-between;
}

.first_line h3 {
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	color: #000;

	margin: 0;
	margin-top: 38px;
}

.mark {
	margin-top: 41px;
}

.mark img {
	display: inline;

	margin-right: 19px;
}

.mark p {
	display: inline;

	font-weight: 500;
	font-size: 22px;
	line-height: 26px;

	color: #999999;
}

.second_line {
	max-width: 576px;
	width: 100%;
	float: right;

	margin-top: 34px;
}

.adv {
	display: inline-flex;
	align-items: center;
}

.adv img {
	display: inline;
	margin-right: 20px;
}

.adv p {
	display: inline;
	margin-right: 31px;

	font-weight: 400;
	font-size: 18px;
	line-height: 22px;

	color: #000;
}

.third_line {
	max-width: 576px;
	width: 100%;
	float: right;

	margin-top: 43px;
}

.third_line p {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000;

	display: inline;
}

.third_line p:first-child {
	margin-right: 51px;
}

.forth_line {
	display: flex;
	flex-direction: row;

	max-width: 576px;
	width: 80%;
	float: right;
}

.prise {
	margin-right: 139px;
}

.prise h4 {
	font-weight: 700;
	font-size: 25px;
	line-height: 29px;

	color: #000000;

	margin-bottom: 0;
	margin-top: 36px;
}

.prise p {
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;

	color: #999999;

	margin-top: 0;
}

.forth_line a {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;

	color: #9ACD2F;

	margin-top: 38px;
}


/* Футер */


footer {
	margin-top: 100px;

	width: 100%;
	height: 200px;
}

footer .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block {

}

.block a {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;

	color: #9acd2f;

	display: block;
	margin-bottom: 22px;
}

.block a:nth-child(3) {
	margin-bottom: 0;
}

.contacts img:nth-child(1) {
	margin-right: 77px;
}


/* Адаптив */ 


@media (min-width: 1024px) and (max-width: 1919px) {

	.wrapper {
		width: 80%;
	}

	.logo {
		margin-left: 30px;
	}

	.nav {
		width: 45%;
	}

	.nav a {
		font-size: 16px;
	}

	.login {
		width: 20%;
		margin-right: 30px;
	}

	.val {
		font-size: 16px;
	}

	.language {
		width: 14px;
		height: 14px;
	}

	.reg {
		display: none;
	}

	.in {
		font-size: 16px;
	}

	form {
		flex-direction: column;
		align-items: center;

		margin-top: 20px;
		margin-bottom: 20px;
	}

	.city {
		width: 800px;
		margin-right: 20px;
	}

	.back {
		margin-right: 0;
	}

	.search h1 {
		font-size: 100px;
		padding-top: 200px;
		line-height: 105px;

		margin-bottom: 40px;
	}

	.data_block {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.btn {
		width: 348px;

		margin-top: 25px;
		margin-left: 20px;
	}

	.filters_hiden {
		display: flex;
		padding-right: 200px;
	}

	.filters {
		display: none;
	}

	.auto_block {
		width: 85%;
		height: 260px;
	}

	.auto_block_img {
		height: 100%;
	}
	
	.first_line {
		width: 85%;  /**/
	}

	.first_line h3 {
		font-size: 22px; /**/
	}

	.mark img {
		display: none;
	}

	.mark p {
		font-size: 18px; /**/
	}

	.second_line {
		width: 85%;  /**/

		margin-top: 20px;
	}

	.second_line p{
		display: none;
	}

	.second_line img {
		margin-right: 40px;
	}

	.adv img {
		width: 60%; /**/
		height: 60%; /**/
	}

	.third_line {
		display: none;
	}

	.forth_line {
		width: 85%;
	}

	.prise {
		margin-right: 60px;
	}

	.contacts img:nth-child(1) {
		margin-right: 15px;
	}

	.block a {
		font-size: 16px;
		margin-bottom: 16px;
	}

	footer {
    	height: 140px;
	}
}


@media (min-width: 786px) and (max-width: 1023px) {

	.wrapper {
		width: 80%;
	}

	.logo {
		margin-left: 30px;
	}

	.nav {
		width: 45%;
	}

	.nav a {
		font-size: 16px;
	}

	.login {
		width: 20%;
		margin-right: 30px;
	}

	.val {
		font-size: 16px;
	}

	.language {
		width: 14px;
		height: 14px;
	}

	.reg {
		display: none;
	}

	.in {
		font-size: 16px;
	}

	form {
		flex-direction: column;
		align-items: center;

		margin-top: 30px;
		margin-bottom: 20px;
	}

	.data_btn_block {
		display: flex;
		flex-direction: column;
	}

	.city {
		width: 432px;
		margin-right: 0;
	}

	.back {
		margin-right: 0;
	}

	.search h1 {
		font-size: 100px;
		padding-top: 200px;
		line-height: 105px;

		margin-bottom: 40px;
	}

	.data_block {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.btn {
		width: 465px;
	}

	.bread {
		display: none;
	}

	.filters_hiden {
		display: flex;
		padding-right: 120px;
	}

	.filters {
		display: none;
	}

	.auto_block {
		width: 95%;
		height: 200px;
	}

	.auto_block_img {
		height: 100%;
	}
	
	.first_line {
		width: 90%; 
	}

	.first_line h3 {
		font-size: 22px; 

		margin-top: 7px;
	}

	.mark {
		margin-top: 12px;
	}

	.mark img {
		display: none;
	}

	.mark p {
		font-size: 18px; 
	}

	.second_line {
		width: 90%; 

		margin-top: 20px;
	}

	.second_line p{
		display: none;
	}

	.second_line img {
		margin-right: 40px;
	}

	.adv img {
		width: 60%;
		height: 60%; 
	}

	.third_line {
		display: none;
	}

	.forth_line {
		width: 90%;
	}

	.prise {
		margin-right: 60px;
	}

	.contacts img:nth-child(1) {
		margin-right: 15px;
	}

	.block a {
		font-size: 16px;
		margin-bottom: 16px;
	}

	footer {
    	height: 140px;
	}
}


@media (min-width: 480px) and (max-width: 785px) {

	.wrapper {
		width: 80%;
	}

	.logo {
		margin-left: 30px;
	}

	.nav {
		width: 10%;
	}

	.nav a {
		font-size: 16px;
	}

	.nav a:nth-child(1) {
		display: none;
	}

	.nav a:nth-child(2) {
		display: none;
	}

	.login {
		width: 25%;
		margin-right: 30px;
	}

	.val {
		font-size: 16px;
	}

	.language {
		width: 14px;
		height: 14px;
	}

	.reg {
		display: none;
	}

	.in {
		font-size: 16px;
	}

	form {
		flex-direction: column;
		align-items: center;

		margin-top: 30px;
		margin-bottom: 20px;
	}

	.data_btn_block {
		display: flex;
		flex-direction: column;
	}

	.city {
		width: 432px;
		margin-right: 0;
	}

	.back {
		margin-right: 0;
	}

	.search h1 {
		font-size: 100px;
		padding-top: 200px;
		line-height: 105px;

		margin-bottom: 40px;
	}

	.data_block {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.btn {
		width: 465px;
	}

	.bread {
		display: none;
	}

	.filters_hiden {
		display: flex;
		padding-right: 120px;
	}

	.finded {
		font-size: 16px;
	}

	.filters {
		display: none;
	}

	.auto_block {
		height: auto;

		margin-right: 0;

		flex-direction: column;
		justify-content: start;
	}

	.auto_block_img {
		height: 260px;
	}

	.first_line {
		width: 90%; 

		float: none;

		margin-left: auto;
		margin-right: auto;
	}

	.first_line h3 {
		font-size: 22px; 

		margin-top: 7px;
	}

	.mark {
		margin-top: 12px;
	}

	.mark img {
		display: none;
	}

	.mark p {
		font-size: 18px; 
	}

	.second_line {
		width: 90%; 

		margin-top: 20px;
		float: none;

		margin-left: auto;
		margin-right: auto;
	}

	.second_line p{
		display: none;
	}

	.second_line img {
		margin-right: 40px;
	}

	.adv img {
		width: 60%;
		height: 60%; 
	}

	.third_line {
		display: none;
	}

	.forth_line {
		width: 90%;

		float: none;

		margin-left: auto;
		margin-right: auto;
	}

	.prise {
		margin-right: 60px;
	}

	.contacts img {
		width: 20px;
	}

	.contacts img:nth-child(1) {
		margin-right: 15px;
	}

	.block a {
		font-size: 12px;
		margin-bottom: 5px;
	}

	footer {
    	height: 140px;

    	margin-top: 50px;
	}
}


@media (min-width: 320px) and (max-width: 479px) {

	.wrapper {
		width: 90%;
	}

	.logo {
		margin-left: 30px;
	}

	.nav {
		width: 10%;
	}

	.nav a {
		font-size: 16px;
	}

	.nav a:nth-child(1) {
		display: none;
	}

	.nav a:nth-child(2) {
		display: none;
	}

	.login {
		width: 10%;
		margin-right: 30px;
	}

	.val {
		display: none;
	}

	.language {
		display: none;

	}

	.reg {
		display: none;
	}

	.in {
		font-size: 16px;
	}

	form {
		flex-direction: column;
		align-items: center;

		margin-top: 80px;
	}

	.data_btn_block {
		display: flex;
		flex-direction: column;
	}

	.city {
		width: 260px;
		margin-right: 0;
	}

	.take {
	    width: 260px;
	    margin-right: 0;
	    margin-bottom: 21px;
	}

	.back {
    	width: 260px;
		margin-right: 0;
	}

	.search h1 {
	    font-size: 50px;
	    line-height: 60px;

	    padding-top: 200px;
		margin-bottom: 40px;
	}

	.data_block {
		margin-top: 25px;
		margin-bottom: 25px;


   		 display: flex;
    	flex-direction: column;
	}

	.btn {
		width: 293px;
	}

	.bread {
		display: none;
	}

	.filters_hiden {
		display: flex;
		padding-right: 30px;
	}

	.finded {
		font-size: 16px;

		color: #999999;
	}

	.filters {
		display: none;
	}

	.auto_block {
		width: 280px;
		height: auto;

		margin-right: 0;

		flex-direction: column;
		justify-content: center;
	}

	.auto_block_img {
		height: 200px;
	}

	.first_line {
		width: 90%; 

		float: none;

		margin-left: auto;
		margin-right: auto;
	}

	.first_line h3 {
		font-size: 22px; 

		margin-top: 7px;
	}

	.mark {
		margin-top: 12px;
	}

	.mark img {
		display: none;
	}

	.mark p {
		font-size: 18px; 
	}

	.second_line {
		width: 90%; 

		margin-top: 20px;
		float: none;

		margin-left: auto;
		margin-right: auto;
	}

	.second_line p{
		display: none;
	}

	.second_line img {
		margin-right: 20px;
	}

	.adv img {
		width: 60%;
		height: 60%; 
	}

	.third_line {
		display: none;
	}

	.forth_line {
		width: 90%;

		float: none;

		margin-left: auto;
		margin-right: auto;
	}

	.prise {
		margin-right: 30px;
	}

	.prise h4 {
		font-size: 22px;
	}

	.forth_line a {
		font-size: 20px;
	}

	footer {
    	display: none;
	}

}